<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imtiyaz Alam </title>
     <link rel="stylesheet" href="../CSS/style.css" />
       <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
   {{>Navbar}}
   {{>Hero}}
   {{!-- about --}}
   <div class="about">
   <div class="container">
    <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                   <figure class="about-img" data-aos="zoom-in-up">
                     <img src="/img/IMG_20220710_175935.jpg" alt="">
                   </figure>
              </div>
                 <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                       <div class="about-details" data-aos="zoom-in">
                            <h1 class="text-light fs-1">About Me</h1>
                            <p class="text-light fs-2">Developer <span class="text-danger"> & Designer</span></p>
                            <p class="abpara fs-5">I am a front-end web developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.A responsive design makes your website accessible to all users, regardless of their device.</p>
                               <div class="about-btn">
           <a href="/about"> <button  type="button" class="btn" onclick="/about">Read more </button></a>
          </div>
        </div>
                     </div>
              </div>
       </div>
       </div>
       </div>
       {{!-- service --}}
        <div class="service-main">
              <div class="container" data-aos="zoom-in-up">
                     <h1 class="text-light text-center">Our Services</h1>
                     <p class="text-light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum harum quasi aperiam ducimus vero molestiae, enim veritatis cupiditate atque laborum ut fugit. Omnis deleniti autem pariatur ipsam. Necessitatibus, nemo at?</p>
                     <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 col-12 my-3">
                                   <div class="serbox">
                                            <div class="serimg text-center">
                                          <img src="/img/service1.png" alt="" >
                                          </div>
                                          <h1 class="text-light text-center">App Development</h1>
                                          <p class="ser-par text-center">Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
                                           <div class="about-btn text-center">
       <button  type="button" class="btn" onclick="/about">Read more </button>
          </div>

                                   </div>
                            </div>
                               <div class="col-sm-12 col-md-4 col-lg-4 col-12 my-3">
                                    <div class="serbox">
                                             <div class="serimg text-center">
                                          <img src="/img/service2.jpg" alt="" >
                                          </div>
                                           <h1 class="text-light text-center">Web Development</h1>
                                          <p class="ser-par text-center">Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
                                           <div class="about-btn text-center">
       <button  type="button" class="btn" onclick="/about">Read more </button>
          </div>

                                   </div>
                            </div>
                               <div class="col-sm-12 col-md-4 col-lg-4 col-12 my-3">
                                    <div class="serbox">
                                             <div class="serimg text-center">
                                          <img src="/img/service3.png" alt="" >
                                          </div>
                                           <h1 class="text-light text-center">Graphics design</h1>
                                          <p class="ser-par text-center">Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
                                           <div class="about-btn text-center">
       <button  type="button" class="btn" onclick="/about">Read more </button>
          </div>

                                   </div>
                            </div>
                     </div>
                        <div class="row">
                         
               </div>
              </div>
        </div>
        {{!-- skill --}}
         
        <div class="skill-section">
            <div class="container">
                <h1 class="text-light">Tools Expertness</h1>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                   <p class="text-light">JavaScript <span class="skillper">60%</span></p>
                <div class="box">
                    <div class="mai-box" data-aos="slide-right">

                    </div>
                </div>
                    </div>
                       <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                  <p class="text-light">HTML<span class="skillper">70%</span></p>
                <div class="box">
                    <div class="mai-box2" data-aos="slide-right">

                    </div>
                </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-12">
 <p class="text-light">css <span class="skillper">75%</span></p>
                <div class="box">
                    <div class="mai-box3" data-aos="slide-right">

                    </div>
                </div>
                    </div>
                     <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                         <p class="text-light">Node js <span class="skillper">50%</span></p>
                <div class="box">
                    <div class="mai-box4" data-aos="slide-right">

                    </div>
                </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-12">
 <p class="text-light">Express js <span class="skillper">60%</span></p>
                <div class="box">
                    <div class="mai-box5" data-aos="slide-right">

                    </div>
                </div>
                    </div>
                     <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                         <p class="text-light">MongoDB <span class="skillper">70%</span></p>
                <div class="box">
                    <div class="mai-box6" data-aos="slide-right">

                    </div>
                </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-12">
  <p class="text-light">Bootstrap <span class="skillper">70%</span></p>
                <div class="box">
                    <div class="mai-box7">

                    </div>
                </div>
                    </div>
                     <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                          <p class="text-light">Wordpress <span class="skillper">80%</span></p>
                <div class="box">
                    <div class="mai-box8">

                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        {{>Footer}}
         <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
   offset: 300,
     duration: 1000,
});
  </script>
</body>
</html>