<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css" />
</head>
<body>
    <div class="footer">
    <footer class="footer-area section-gap">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-6 col-sm-6">
<div class="single-footer-widget">
<h4 class="text-light">About Me</h4>
<p class="text-light">
We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.
</p>
<p class="footer-text text-light">
Copyright © 2022 All rights reserved | This template is made with by Imtiyaz Alam
</p>
</div>
</div>
<div class="col-lg-5 col-md-6 col-sm-6">
<div class="single-footer-widget">
<h4 class="text-light">Newsletter</h4>
<p class="text-light">Stay updated with our latest trends</p>
<div class="" id="mc_embed_signup">
<form  novalidate="true">
<div class="input-group">
<input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="">
   <div class="hero-btn">
            <button type="button" class="btn">Send</button>
          </div>
<div class="info"></div>
</div>
</form>
</div>
</div>
</div>
<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
<div class="single-footer-widget">
<h4 class="text-light">Follow Me</h4>
<p class="text-light">Let us be social</p>
<div class="footer-social d-flex align-items-center footer-icon">
 <a href=""><img src="/img/icons8-facebook-48.png" alt=""></a>
<a href=""><img src="/img/icons8-instagram-48.png" alt=""></a>
<a href=""><img src="/img/icons8-github-50.png" alt=""></a>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
</body>
</html>